@tailwind base;
@tailwind components;

:root {
  --text-primary: #FAF4F4;
  --text-secondary: #2d3748;
  --bg-background-primary: #212A46;
  --bg-background-secondary: #303753;
  --bg-background-tertiary: #FFF;
}

.light-theme {
  --text-primary: #212A46;
  --text-secondary: #2d3748;
  --bg-background-primary: #F4F4F4;
  --bg-background-secondary: #FFF;
  --bg-background-tertiary: #F4F4F4;
}

.nav-link {
  @apply inline-block p-3 hidden uppercase font-bold rounded-lg;
}

.nav-link:hover {
  @apply text-white;
}

.info-box {
  @apply bg-background-secondary shadow-lg rounded-sm;
}

.info-box-label {
  @apply text-gray-500 uppercase font-bold;
}

.info-box-numbers {
  @apply text-4xl leading-8;
}

.country-list-box {
  @apply flex-1 bg-background-secondary px-4 py-2 border-r-2 border-background-secondary uppercase font-bold;
}

.country-list-box-header {
  @apply country-list-box text-sm;
}

.country-list-box-name {
  @apply country-list-box-header text-gray-500;
}

.country-list-box-values {
  @apply country-list-box text-primary text-base text-right;
}

.mobile-nav-menu-container {
  @apply grid grid-cols-3 fixed w-full bottom-0 left-0 shadow-top-xl bg-background-primary text-primary;
}

.mobile-nav-items {
  @apply p-8 flex justify-center items-center;
}

@tailwind utilities;